# =========================
# Backend - Spring Boot
# =========================

flightservice/target/
*.class
*.log
*.jar
*.war

# Maven
flightservice/.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
.apt_generated/
.apt_generated_tests/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# =========================
# Frontend - React
# =========================

frontend/node_modules/
frontend/build/

# npm logs
npm-debug.log*

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db